<div class="course-card" *ngFor="let course of courselist">
    <div class="course-card__description">
      <!-- Replace ::text:: with your code -->
      <div class="course-card__description-title">{{course.title}}</div>
      <div class="course-card__description-text">{{course.description}}</div>
    </div>
    <div class="course-card__info">
        <div class="course-card__info-text">
            <div>
              <b>Authors: </b>
              {{course.authors}}
            </div>
            <div><b>Duration: </b><span class="course-card__duration">{{course.duration}}</span></div>
            <div><b>Created: </b><span class="course-card__date">{{course.creationDate}}</span></div>
        </div>
        <div class="course-card__info-actions">
          
            <app-button (click)="ShowCourse(course.id)" (buttonText)="SHOW COURSE"></app-button>
        
            <div class="course-card__buttons">
                <i class="fa-solid fa-trash-can"></i>
            </div>

        </div>
    </div>
</div>
